[submodule "psg-si-2025-2-p5-tias-7679101-gestao-sustentavel-de-restaurante"]
	path = psg-si-2025-2-p5-tias-7679101-gestao-sustentavel-de-restaurante
	url = https://github.com/ICEI-PUCMinas-PSG-SI-TI/psg-si-2025-2-p5-tias-7679101-gestao-sustentavel-de-restaurante
